html, body{
    margin: 0;
    height: 100vh;
}

/* من الخواص التي يجب تغيرها لكي تصل للمطلوب
    1. لون الخلفيه
    2. الطول والعرض
    3. الهوامش
    4. الحواشي
    5. نوع العرض
    6. border radius */

/* عند الحاجه w3schools قم بالاستعانه بموقع  */

.flexer{ 
    display: flex;
    height: 98%;
}

.sidebar{
    width: 120px;
    background-color: black;
    color: white;
}
   
    /* pxالعرض هنا يجب ان يكون 120 */


.header{ 
   height: 120px;
   background-color: midnightblue;
   color: skyblue;
   margin: 2px;
}
    /* pxالطول هنا يجب ان يكون 80 */


.main{ 
    height: 120px;
    background-color: royalblue;
}

a{
    color: cornflowerblue;
    text-decoration: none;
}
    /* اجعل شكل اللنك من غير خط اسفل الكلام */


/* !بــونص */
/* (hover) اجعل اللنك يتغير لونه الى الابيض عند التأشير عليه */
/* (p) غير محاذاة الفقرات لتصبح بالوسط */

 a:hover {
    background-color: steelblue;
}

p{
    text-align: center;
}


h1{
    margin: 0;
    margin-right: 5px;
}

h2{
    margin: 0;
    margin-left: 5px;
}

.d2{
    height: 100%;
   margin: 2px ;
   
}
.co{
    display: flex;
    height: 100%;
}